In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
stores = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\store_clean.csv')
stores

,Unnamed: 0,fips,state,county,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,specialty_16,specialty_per1kpop_16,snap_available_17,snap_available_per1kpop_17,wic_available_16,wic_available_per1kpop_16
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,1,0.018090,44.666667,0.804747,5.0,0.090511
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,27,0.130115,189.416667,0.890836,28.0,0.134802
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,2,0.077598,36.000000,1.424614,6.0,0.232387
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,0,0.000000,18.166667,0.801423,5.0,0.221474
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,0,0.000000,40.166667,0.692374,8.0,0.139089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,1,0.022601,27.250000,0.625948,4.0,0.090344
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,8,0.345125,8.000000,0.343864,3.0,0.129528
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,2,0.096567,15.250000,0.744084,3.0,0.144991
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,0,0.000000,6.083333,0.754382,2.0,0.244858
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,0,0.000000,8.583333,1.239113,3.0,0.415916

In [10]:
assistance = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\Assistance dataset_update2_clean.csv')
assistance

,fips,state,county,snap_auth_stores_17,snap_auth_stores_chg_12_17,snap_bens_per_cap_17,snap_bens_per_cap_chg_12_17,school_lunch_prog_17,school_lunch_prog_chg_12_17,school_bfast_prog_17,school_bfast_prog_chg_12_17,smr_food_prog_17,smr_food_prog_12_17,wic_parts_pop_17,wic_parts_pop_12_17,food_banks_18
0,1001,AL,Autauga,223185.67840,-25.958220,16.354677,-11.459878,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
1,1003,AL,Baldwin,157623.13360,-42.556016,11.479360,-27.760618,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
2,1005,AL,Barbour,257032.07890,-21.033857,29.122147,-6.408476,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
3,1007,AL,Bibb,227725.24510,-36.111921,17.557791,-21.739460,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
4,1009,AL,Blount,142860.82560,-37.813602,12.377973,-38.941463,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,106059.06570,-39.703860,5.694783,11.807223,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3139,56039,WY,Teton,29106.34375,-74.775282,0.436994,-56.549450,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3140,56041,WY,Uinta,132726.81250,-49.011216,8.465480,-14.706141,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3141,56043,WY,Washakie,86173.73918,-35.040672,6.882441,-21.414190,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3142,56045,WY,Weston,44167.50175,-24.477317,6.111351,-26.829277,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0

In [11]:
fm = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\farmers_markets.csv')
fm

,fips,state,county,farmers_markets,farmers_markets_per_1000,fm_accepts_snap,pct_fm_accepting_snap,fm_accept_wic,pct_fm_accept_wic,fm_accept_credit,pct_fm_credit,fm_sell_frveg,pct_fm_sell_frveg,region
0,1001,AL,Autauga,1.0,0.017985,0.0,0.000000,0.0,0.0,0.0,0.000000,1.0,100.0,S
1,1003,AL,Baldwin,4.0,0.018347,0.0,0.000000,0.0,0.0,2.0,50.000000,3.0,75.0,S
2,1005,AL,Barbour,4.0,0.160765,2.0,50.000000,0.0,0.0,2.0,50.000000,2.0,50.0,S
3,1007,AL,Bibb,1.0,0.044643,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,S
4,1009,AL,Blount,1.0,0.017289,0.0,0.000000,1.0,100.0,0.0,0.000000,1.0,100.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,2.0,0.046457,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,W
3139,56039,WY,Teton,3.0,0.129977,1.0,33.333332,0.0,0.0,2.0,66.666664,3.0,100.0,W
3140,56041,WY,Uinta,2.0,0.098527,0.0,0.000000,0.0,0.0,2.0,100.000000,0.0,0.0,W
3141,56043,WY,Washakie,2.0,0.253646,0.0,0.000000,0.0,0.0,1.0,50.000000,2.0,100.0,W
3142,56045,WY,Weston,2.0,0.287068,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,W

In [33]:
food_ins = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\fi_data.csv')
food_ins

,fips,state,fi_rate,total_fi_people,child_fi_rate,num_fi_children,cost_per_meal,est_annual_food_budget_shortfall,region
0,1001,AL,13.2,7270,19.8,2670,3.19,3957000.0,S
1,1003,AL,11.6,23560,18.9,8480,3.57,14361000.0,S
2,1005,AL,22.0,5760,27.6,1520,3.09,3035000.0,S
3,1007,AL,14.3,3240,22.1,1050,3.05,1684000.0,S
4,1009,AL,10.7,6140,21.2,2880,3.10,3249000.0,S
...,...,...,...,...,...,...,...,...,...
3137,56037,WY,10.7,4750,17.0,2030,3.14,2542000.0,W
3138,56039,WY,9.7,2220,11.7,520,4.20,1592000.0,W
3139,56041,WY,12.8,2660,18.9,1160,2.95,1340000.0,W
3140,56043,WY,11.2,920,17.4,350,3.16,497000.0,W
3141,56045,WY,13.1,940,20.2,300,3.15,505000.0,W

In [13]:
new_pop = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\new_population3 (1).csv')
new_pop

       fips  popestimate17
0      1001          55390
1      1003         212521
2      1005          25157
3      1007          22550
4      1009          57787
...     ...            ...
3137  56037          43464
3138  56039          23384
3139  56041          20431
3140  56043           8010
3141  56045           6968

[3142 rows x 2 columns]

In [14]:
rest = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\restaurants_clean.csv')
rest

,Unnamed: 0,fips,state,county,fast_food_16,fast_food_1000_16,full_service_16,full_service_1000_16,fast_food_exp_percap_12,full_service_exp_percap_12
0,0,1001,AL,Autauga,44,0.795977,31,0.560802,674.802720,512.280987
1,1,1003,AL,Baldwin,156,0.751775,236,1.137300,674.802720,512.280987
2,2,1005,AL,Barbour,23,0.892372,14,0.543183,674.802720,512.280987
3,3,1007,AL,Bibb,7,0.309283,7,0.309283,674.802720,512.280987
4,4,1009,AL,Blount,23,0.399569,12,0.208471,674.802720,512.280987
...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,31,0.700644,32,0.723246,598.027144,706.676425
3139,3139,56039,WY,Teton,20,0.862813,59,2.545298,598.027144,706.676425
3140,3140,56041,WY,Uinta,17,0.820820,19,0.917387,598.027144,706.676425
3141,3141,56043,WY,Washakie,6,0.732780,12,1.465559,598.027144,706.676425
3142,3142,56045,WY,Weston,4,0.555710,10,1.389275,598.027144,706.676425

In [15]:
soda_chip = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\soda_chip_tax3.csv')
soda_chip

,fips,retail_soda_sales_14_tax_rate,vending_soda_sales_14_tax_rate,retail_chips_pretzels_14_tax_rate,vending_chips_pretzels_14_tax_rate,general_food_tax_rate
0,1001,4.0,4.0,4.0,4.0,4.0
1,1003,4.0,4.0,4.0,4.0,4.0
2,1005,4.0,4.0,4.0,4.0,4.0
3,1007,4.0,4.0,4.0,4.0,4.0
4,1009,4.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...
3138,56037,0.0,4.0,0.0,4.0,0.0
3139,56039,0.0,4.0,0.0,4.0,0.0
3140,56041,0.0,4.0,0.0,4.0,0.0
3141,56043,0.0,4.0,0.0,4.0,0.0
3142,56045,0.0,4.0,0.0,4.0,0.0

In [20]:
store_access = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\store_access_clean.csv')
store_access

,Unnamed: 0,fips,state,county,pop_low_access_15,percent_pop_low_access_15,low_income_low_access_15,percent_low_income_low_access_15,no_car_low_access_15,percent_no_car_low_access_15,...,hispanic_low_access_15,percent_hispanic_low_access_15,asian_low_access_15,percent_asian_low_access_15,nhna_low_access_15,percent_nhna_low_access_15,nhpi_low_access_15,percent_nhpi_low_access_15,multiracial_low_access_15,percent_multiracial_low_access_15
0,0,1001,AL,Autauga,17496.693040,0.32,6543.676824,0.12,677.672769,0.03,...,471.136164,0.01,86.767975,0.0,61.169869,0.0,8.817961,0.0,482.848633,0.01
1,1,1003,AL,Baldwin,30561.264430,0.17,9886.831137,0.05,1394.162766,0.02,...,1377.874834,0.01,212.946378,0.0,181.649648,0.0,14.819634,0.0,1127.696098,0.01
2,2,1005,AL,Barbour,6069.523628,0.22,2948.790251,0.11,425.144927,0.04,...,509.377525,0.02,17.096410,0.0,39.960527,0.0,8.082376,0.0,462.382655,0.02
3,3,1007,AL,Bibb,969.378841,0.04,596.162829,0.03,224.388125,0.03,...,8.596762,0.00,1.994318,0.0,2.513097,0.0,0.000000,0.0,5.259244,0.00
4,4,1009,AL,Blount,3724.428242,0.06,1650.959482,0.03,719.931444,0.03,...,497.489891,0.01,8.428994,0.0,28.938242,0.0,1.062851,0.0,202.914186,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,18934.737810,0.43,4750.905615,0.11,359.608360,0.02,...,2661.350520,0.06,114.722086,0.0,189.621441,0.0,27.720443,0.0,1605.391465,0.04
3139,3139,56039,WY,Teton,6212.390430,0.29,1577.771012,0.07,48.474161,0.01,...,736.174507,0.03,53.489780,0.0,32.482255,0.0,8.468847,0.0,460.434464,0.02
3140,3140,56041,WY,Uinta,4686.017653,0.22,2054.179828,0.10,211.630840,0.03,...,535.616715,0.03,13.831709,0.0,40.339658,0.0,6.586104,0.0,350.320469,0.02
3141,3141,56043,WY,Washakie,931.411647,0.11,309.030331,0.04,42.030853,0.01,...,35.474502,0.00,6.366775,0.0,5.006976,0.0,0.000000,0.0,34.160542,0.00
3142,3142,56045,WY,Weston,1237.267037,0.17,302.697580,0.04,112.645982,0.04,...,28.073114,0.00,2.771750,0.0,10.372147,0.0,0.507750,0.0,24.811192,0.00

In [21]:
merged_df = pd.merge(stores, store_access, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,hispanic_low_access_15,percent_hispanic_low_access_15,asian_low_access_15,percent_asian_low_access_15,nhna_low_access_15,percent_nhna_low_access_15,nhpi_low_access_15,percent_nhpi_low_access_15,multiracial_low_access_15,percent_multiracial_low_access_15
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,471.136164,0.01,86.767975,0.0,61.169869,0.0,8.817961,0.0,482.848633,0.01
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,1377.874834,0.01,212.946378,0.0,181.649648,0.0,14.819634,0.0,1127.696098,0.01
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,509.377525,0.02,17.096410,0.0,39.960527,0.0,8.082376,0.0,462.382655,0.02
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,8.596762,0.00,1.994318,0.0,2.513097,0.0,0.000000,0.0,5.259244,0.00
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,497.489891,0.01,8.428994,0.0,28.938242,0.0,1.062851,0.0,202.914186,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,2661.350520,0.06,114.722086,0.0,189.621441,0.0,27.720443,0.0,1605.391465,0.04
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,736.174507,0.03,53.489780,0.0,32.482255,0.0,8.468847,0.0,460.434464,0.02
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,535.616715,0.03,13.831709,0.0,40.339658,0.0,6.586104,0.0,350.320469,0.02
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,35.474502,0.00,6.366775,0.0,5.006976,0.0,0.000000,0.0,34.160542,0.00
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,28.073114,0.00,2.771750,0.0,10.372147,0.0,0.507750,0.0,24.811192,0.00

In [22]:
merged_df = pd.merge(merged_df, rest, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,percent_multiracial_low_access_15,Unnamed: 0,state,county,fast_food_16,fast_food_1000_16,full_service_16,full_service_1000_16,fast_food_exp_percap_12,full_service_exp_percap_12
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,0.01,0,AL,Autauga,44,0.795977,31,0.560802,674.802720,512.280987
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,0.01,1,AL,Baldwin,156,0.751775,236,1.137300,674.802720,512.280987
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,0.02,2,AL,Barbour,23,0.892372,14,0.543183,674.802720,512.280987
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,0.00,3,AL,Bibb,7,0.309283,7,0.309283,674.802720,512.280987
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,0.00,4,AL,Blount,23,0.399569,12,0.208471,674.802720,512.280987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,0.04,3138,WY,Sweetwater,31,0.700644,32,0.723246,598.027144,706.676425
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,0.02,3139,WY,Teton,20,0.862813,59,2.545298,598.027144,706.676425
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,0.02,3140,WY,Uinta,17,0.820820,19,0.917387,598.027144,706.676425
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,0.00,3141,WY,Washakie,6,0.732780,12,1.465559,598.027144,706.676425
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,0.00,3142,WY,Weston,4,0.555710,10,1.389275,598.027144,706.676425

In [23]:
merged_df = pd.merge(merged_df, new_pop, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,Unnamed: 0,state,county,fast_food_16,fast_food_1000_16,full_service_16,full_service_1000_16,fast_food_exp_percap_12,full_service_exp_percap_12,popestimate17
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,0,AL,Autauga,44,0.795977,31,0.560802,674.802720,512.280987,55390.0
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,1,AL,Baldwin,156,0.751775,236,1.137300,674.802720,512.280987,212521.0
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,2,AL,Barbour,23,0.892372,14,0.543183,674.802720,512.280987,25157.0
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,3,AL,Bibb,7,0.309283,7,0.309283,674.802720,512.280987,22550.0
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,4,AL,Blount,23,0.399569,12,0.208471,674.802720,512.280987,57787.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,3138,WY,Sweetwater,31,0.700644,32,0.723246,598.027144,706.676425,43464.0
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,3139,WY,Teton,20,0.862813,59,2.545298,598.027144,706.676425,23384.0
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,3140,WY,Uinta,17,0.820820,19,0.917387,598.027144,706.676425,20431.0
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,3141,WY,Washakie,6,0.732780,12,1.465559,598.027144,706.676425,8010.0
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,3142,WY,Weston,4,0.555710,10,1.389275,598.027144,706.676425,6968.0

In [34]:
merged_df = pd.merge(merged_df, food_ins, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,full_service_exp_percap_12,popestimate17,state_y,fi_rate,total_fi_people,child_fi_rate,num_fi_children,cost_per_meal,est_annual_food_budget_shortfall,region
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,512.280987,55390.0,AL,13.2,7270.0,19.8,2670,3.19,3957000.0,S
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,512.280987,212521.0,AL,11.6,23560.0,18.9,8480,3.57,14361000.0,S
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,512.280987,25157.0,AL,22.0,5760.0,27.6,1520,3.09,3035000.0,S
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,512.280987,22550.0,AL,14.3,3240.0,22.1,1050,3.05,1684000.0,S
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,512.280987,57787.0,AL,10.7,6140.0,21.2,2880,3.10,3249000.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,706.676425,43464.0,WY,10.7,4750.0,17.0,2030,3.14,2542000.0,W
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,706.676425,23384.0,WY,9.7,2220.0,11.7,520,4.20,1592000.0,W
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,706.676425,20431.0,WY,12.8,2660.0,18.9,1160,2.95,1340000.0,W
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,706.676425,8010.0,WY,11.2,920.0,17.4,350,3.16,497000.0,W
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,706.676425,6968.0,WY,13.1,940.0,20.2,300,3.15,505000.0,W

In [36]:
merged_df = pd.merge(merged_df, assistance, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,snap_bens_per_cap_chg_12_17_y,school_lunch_prog_17_y,school_lunch_prog_chg_12_17_y,school_bfast_prog_17_y,school_bfast_prog_chg_12_17_y,smr_food_prog_17_y,smr_food_prog_12_17_y,wic_parts_pop_17_y,wic_parts_pop_12_17_y,food_banks_18_y
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,-11.459878,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,-27.760618,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,-6.408476,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,-21.739460,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,-38.941463,63.126590,-5.099454,33.475354,6.269026,6.369006,3.208686,2.543570,-0.404113,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,11.807223,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,-56.549450,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,-14.706141,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,-21.414190,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,-26.829277,49.458965,-9.712489,15.566447,-0.856224,4.578746,1.358607,1.753551,-0.431917,0

In [37]:
merged_df = pd.merge(merged_df, fm, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,farmers_markets_per_1000,fm_accepts_snap,pct_fm_accepting_snap,fm_accept_wic,pct_fm_accept_wic,fm_accept_credit,pct_fm_credit,fm_sell_frveg,pct_fm_sell_frveg,region_y
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,0.017985,0.0,0.000000,0.0,0.0,0.0,0.000000,1.0,100.0,S
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,0.018347,0.0,0.000000,0.0,0.0,2.0,50.000000,3.0,75.0,S
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,0.160765,2.0,50.000000,0.0,0.0,2.0,50.000000,2.0,50.0,S
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,0.044643,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,S
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,0.017289,0.0,0.000000,1.0,100.0,0.0,0.000000,1.0,100.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,0.046457,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,W
3139,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,0.129977,1.0,33.333332,0.0,0.0,2.0,66.666664,3.0,100.0,W
3140,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,0.098527,0.0,0.000000,0.0,0.0,2.0,100.000000,0.0,0.0,W
3141,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,0.253646,0.0,0.000000,0.0,0.0,1.0,50.000000,2.0,100.0,W
3142,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,0.287068,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,W

In [38]:
obesity = pd.read_csv(r'C:\Users\tomew\Downloads\team_115\processed_data\Obesity_clean.csv')
obesity

         State                                 County   fips  2017
0      Alabama                                Autauga   1001  30.9
1      Alabama                                Baldwin   1003  26.7
2      Alabama                                Barbour   1005  40.8
3      Alabama                                   Bibb   1007  40.1
4      Alabama                                 Blount   1009  32.4
...        ...                                    ...    ...   ...
3104  Virginia                      Falls Church City  51610  26.0
3105  Virginia  Halifax County with South Boston City  51083  36.0
3106  Virginia                     Manassas Park City  51685  30.0
3107  Virginia                      Newport News City  51700  34.0
3108  Virginia                    Virginia Beach City  51810  27.0

[3109 rows x 4 columns]

In [39]:
merged_df = pd.merge(merged_df, obesity, how='left', on='fips')
merged_df

,Unnamed: 0_x,fips,state_x,county_x,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,...,fm_accept_wic,pct_fm_accept_wic,fm_accept_credit,pct_fm_credit,fm_sell_frveg,pct_fm_sell_frveg,region_y,State,County,2017
0,0,1001,AL,Autauga,3,0.054271,1,0.018090,31,0.560802,...,0.0,0.0,0.0,0.000000,1.0,100.0,S,Alabama,Autauga,30.9
1,1,1003,AL,Baldwin,29,0.139753,7,0.033733,118,0.568650,...,0.0,0.0,2.0,50.000000,3.0,75.0,S,Alabama,Baldwin,26.7
2,2,1005,AL,Barbour,4,0.155195,1,0.038799,19,0.737177,...,0.0,0.0,2.0,50.000000,2.0,50.0,S,Alabama,Barbour,40.8
3,3,1007,AL,Bibb,5,0.220916,1,0.044183,15,0.662749,...,0.0,0.0,0.0,0.000000,0.0,0.0,S,Alabama,Bibb,40.1
4,4,1009,AL,Blount,5,0.086863,1,0.017373,27,0.469059,...,1.0,100.0,0.0,0.000000,1.0,100.0,S,Alabama,Blount,32.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145,3138,56037,WY,Sweetwater,4,0.090406,1,0.022601,22,0.497231,...,0.0,0.0,0.0,0.000000,0.0,0.0,W,Wyoming,Sweetwater,29.2
3146,3139,56039,WY,Teton,11,0.474547,0,0.000000,19,0.819672,...,0.0,0.0,2.0,66.666664,3.0,100.0,W,Wyoming,Teton,12.5
3147,3140,56041,WY,Uinta,2,0.096567,1,0.048284,13,0.627686,...,0.0,0.0,2.0,100.000000,0.0,0.0,W,Wyoming,Uinta,29.6
3148,3141,56043,WY,Washakie,2,0.244260,0,0.000000,3,0.366390,...,0.0,0.0,1.0,50.000000,2.0,100.0,W,Wyoming,Washakie,24.7
3149,3142,56045,WY,Weston,4,0.555710,0,0.000000,4,0.555710,...,0.0,0.0,0.0,0.000000,0.0,0.0,W,Wyoming,Weston,29.4

In [40]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3150 entries, 0 to 3149
Columns: 109 entries, Unnamed: 0_x to 2017
dtypes: float64(79), int64(12), object(18)
memory usage: 2.6+ MB

In [42]:
merged_df.describe()

,Unnamed: 0_x,fips,grocery_16,grocery_per1kpop_16,super_16,super_per1kpop_16,convenience_16,convenience_per1kpop_16,specialty_16,specialty_per1kpop_16,...,farmers_markets_per_1000,fm_accepts_snap,pct_fm_accepting_snap,fm_accept_wic,pct_fm_accept_wic,fm_accept_credit,pct_fm_credit,fm_sell_frveg,pct_fm_sell_frveg,2017
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,...,3147.000000,3149.000000,3149.000000,3149.000000,3149.000000,3149.000000,3149.000000,3149.000000,3149.000000,3109.000000
mean,1572.937460,30420.870159,20.879048,0.243603,1.785714,0.018241,40.471746,0.595225,7.482857,0.055388,...,0.059338,0.915211,18.846774,0.853604,16.040359,1.612258,38.063827,1.840267,46.817860,30.965294
std,907.927538,15170.710554,90.178513,0.216365,4.311776,0.022443,97.071366,0.304806,29.697451,0.075033,...,0.100259,2.915278,32.296069,2.947309,30.695054,3.900020,41.848285,4.157503,44.072672,4.463893
min,0.000000,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.700000
25%,787.250000,18181.500000,2.000000,0.132886,0.000000,0.000000,7.000000,0.401548,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.500000
50%,1573.500000,29182.000000,5.000000,0.186017,1.000000,0.014640,15.500000,0.541886,1.000000,0.042175,...,0.029973,0.000000,0.000000,0.000000,0.000000,1.000000,20.000000,1.000000,50.000000,31.200000
75%,2359.750000,45088.500000,12.000000,0.279244,1.750000,0.029260,36.000000,0.721726,4.000000,0.079277,...,0.071563,1.000000,33.333332,1.000000,16.666666,2.000000,80.000000,2.000000,100.000000,33.700000
max,3142.000000,56045.000000,2495.000000,3.267974,97.000000,0.250752,2199.000000,3.680982,787.000000,1.095690,...,1.472754,53.000000,100.000000,49.000000,100.000000,69.000000,100.000000,69.000000,100.000000,46.600000

In [50]:
res = merged_df.isin(['Not Available']).any().any()
if res:
    print("\nany of the mention value exists in Dataframe")
else:
    print("\nNone of these values exists in Dataframe")

None of these values exists in Dataframe

In [54]:
merged_df.to_csv('total_obesity_data.csv', index=False, na_rep=np)